body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1080px;
}
nav{
    text-align: center;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
    list-style-type: none;
    padding: 0;
    
}
nav a:link, a:visited{
    text-decoration: none;
    padding: 0;
    color:darkslateblue;
}
nav a:hover{
    color: gray;
}
#mainmenubutton{
    background-image: url("images/classic-pizza2.jpg");
    height: 75px;
    background-position: center;
    color: white;
    font-size: 400%;
}
#headpb {
    display: flex;
    align-items: center;
}
#headpb img {
    margin-right: 10px;
}
#pblogo{
    width: 50px;
    height: auto;
}
.h5px{
    max-height: 5px;
}
.h15px{
    max-height: 15px;
}
#pboutsideimage{
    width: 300px;
    height: auto;
}