header{
    max-height: 50px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1080px;
}
#navigator{

    text-align: center;
}
#navigator ul li{
    display: inline-block;
    margin: 0 30px;
    list-style-type: none;
    padding: 0;
    
}
#navigator a:link, a:visited{
    text-decoration: none;
    padding: 0;
    color:darkslateblue;
    transition: font-size 0.3s ease;

}
#navigator a:hover{
    font-size: 24px;
    color-scheme: orange;

}
#mainmenubutton{
    background-image: url("images/classic-pizza2.jpg");
    height: 75px;
    background-position: center;
    color: white;
    margin-bottom: 0;
    font-size: 400%;
}
#mainmenulink{
    text-decoration: none;
}

#pblogo{
    width: 50px;
    height: auto;
    margin-left: 10px;
}
.h5px{
    max-height: 5px;
}
.h15px{
    max-height: 15px;
}

body {
    opacity: 0;
    transition: opacity 1s ease;
    animation: reveal 1s forwards;
    background-image: url("images/slice-background.png");

}
@keyframes reveal {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.reveal{
    animation-delay: 0.2s; 
}
